<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contactInfo">
      <h2 data-cy="contactInfoDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.contactInfo.detail.title">Contact Info</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contactInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.contactInfo.contactType">Contact Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterSampleApplicationApp.ContactType.' + contactInfo.contactType }}">{{
            contactInfo.contactType
          }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.contactInfo.contactValue">Contact Value</span></dt>
        <dd>
          <span>{{ contactInfo.contactValue }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.contactInfo.person">Person</span></dt>
        <dd>
          <div *ngIf="contactInfo.person">
            <a [routerLink]="['/person', contactInfo.person.id, 'view']">{{ contactInfo.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact-info', contactInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
